.c1{
//border: 1px solid black;
}

.tumbnail{
width: 10%;
float: left;
padding-left: 10px;
overflow: hidden;
cursor: pointer;
}
#base{
clear:both;
}
#presentationslist{
width: 100%;
overflow: hidden;
clear:both;
border: 1px dashed green;
}
#presentationslist img {
width: 100%;

}

#presentation{
max-height: 600px;
width:100%;
overflow:hidden;
position: relative;
}
#film{
width:10%;
float:left;
overflow-y: auto;
max-height: 596px;
}

#film img {
width: 100%;
}

#slide{
width: 85%;
float:right;
overflow: hidden;
}

#slide img {
max-width: 100%;
max-height: 100%;
}